// src/css/quasar.variables.scss

$primary: #47667ex;
$secondary: #47667e;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #d0dde7;
$warning: #f2c037;
